* {
	margin:0;
	padding:0;
	line-height:1; 
	font-family: "Lato", Helvetica, Arial, sans-serif;
}

body{
}

#generated-text {
	width: 100%;
	padding: 15px;
	border: 2px solid #bdc3c7;
    color: #34495e;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.467;
    border-radius: 6px;
    box-shadow: none;
}

.container {
	margin: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#left {
	float:left;
}

ul {
	list-style-type: none;
	width: 200px;
}

ul > li {
	padding: 8% 0px;
	text-align: center;
	background-color: transparent;
	border: 1px solid #d9d9d9;
	transition: 1s;
	cursor: pointer;
}

li:hover {
	background-color: grey;
}

#user-text {
	width: 200px;
	padding: 10px;
	border: 2px solid #20c997;
    color: #34495e;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.467;
    padding: 8px 12px;
    height: 30px;
    border-radius: 6px;
    box-shadow: none;
}

.highlight-green {
	background-color: #00FF00
}

.highlight-red {
	background-color: #FF0000
}

#WPM {
	padding: 10px;
}

#timer{
    display: flex; 
}

#timer-bar{
    width: 70vw;
}

#timer-num{
    font-size: 3vw;
}