* {
	margin:0;
	padding:0;
	line-height:1; 
}

body{
}

#generated-text {
	width: 100%;
	border: 1px solid black;
	padding: 15px;
}

.container {
	margin: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#left {
	float:left;
}

ul {
	list-style-type: none;
	width: 20vw;
    height: 100vh;
}

ul > li {
	padding: 8% 0px;
	text-align: center;
	background-color: transparent;
	transition: 1s;
}

li:hover {
	background-color: grey;
}

#user-text {
	width: 200px;
	padding: 10px;
}

.highlight-green {
	background-color: #00FF00
}

.highlight-red {
	background-color: #FF0000
}

#timer{
    display: flex; 
}

#time-bar{
    
}