* {
	margin:0;
	padding:0;
	line-height:1; 
/*	font-family: "Lato", Helvetica, Arial, sans-serif;
*/	
}

body {
	font-family: 'Roboto', sans-serif;
}

#generated-text {
	width: 100%;
	padding: 15px;
	border: 2px solid #bdc3c7;
  color: #34495e;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.467;
  border-radius: 6px;
  box-shadow: none;
}

.container {
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.abilties > div {
	margin: 20px;
	padding: 20px;
	border: 1px solid black;
	transition: 0.5s;
}

.left {
	color: #FFF;
	height: 100%;
	width: 300px;
	position: fixed;
	float:left;
	background-color: #696969;
}

.right {
	margin-left: 300px;
}

.main {
	padding-top: 45px;
	font-family: 'Merriweather', serif;
}

ul {
	list-style-type: none;
	width: 100%;
}

ul > li {
	padding: 8% 0px;
	background-color: transparent;
	border-bottom: 1px solid #d9d9d9;
	transition: 1s;
	cursor: pointer;
}

li:hover {
	background-color: grey;
}

/*li .name {
	font-size: 20px;
	font-weight: bold;
}*/

#user-text {
	width: 200px;
	padding: 10px;
	border: 2px solid #20c997;
  color: #34495e;
/*  font-family: "Lato", Helvetica, Arial, sans-serif;
*/  font-size: 15px;
  line-height: 1.467;
  padding: 8px 12px;
  height: 30px;
  border-radius: 6px;
  box-shadow: none;
}

.highlight-green {
	background-color: #00FF00
}

.highlight-red {
	background-color: #FF0000
}

.skill-textcolor {
	color: yellow !important;
}

.skill-tilt {
	/*
	-ms-transform: skewY(20deg) !important;
  	-webkit-transform: skewY(20deg) !important;
  	transform: skewY(20deg) !important;
	*/
	-moz-transform: skew(14deg, -7deg) !important;
	-webkit-transform: skew(14deg, -7deg) !important;
	-o-transform: skew(14deg, -7deg) !important;
	-ms-transform: skew(14deg, -7deg) !important;
	transform: skew(14deg, -7deg) !important;
}

.skill-fontsize {
	font-size: 8px !important;
}

.skill-noinput {
	display: none;
}

.skill-active {
	background-color: grey;
}

.number-trackers {
	padding: 10px;
}

#timer{
    /*display: flex; */
}

#timer-bar {
	position: fixed;
  width: calc(100% - 300px);
  height: 45px;
  background: red;
  -webkit-transition: width 30s; /* Safari */
  -webkit-transition-timing-function: linear; /* Safari */
  transition: width 30s;
  transition-timing-function: linear;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}


#timer-bar-back {
	position: fixed;
  width: calc(100% - 300px);
	height: 45px;
	background: #696969;
}

#timer-num {
	position: fixed;
  width: calc(100% - 300px);
  height: 45px;
	padding: 5px;
	color: white;
/*	font-family: "Lato", Helvetica, Arial, sans-serif;
*/	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

#ability-display {
	padding-top: 15px;
	text-align: center;
}