* {
	margin:0;
	padding:0;
	line-height:1; 
}

body{
}

#generated-text {
	width: 70%;
	border: 1px solid black;
	padding: 15px;
}

.container {
	margin: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#user-text {
	padding: 10px;
}